<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=200'>
    <title>Mobile Testing Page</title>
    <link rel="stylesheet" href="mobile.css">
  </head>
  <body>
    <h1>fluctus</h1>
    <h2>enter mobile code:</h2>
    <form class="" action="/" method="post">
      <input type="text" name="codeCheck" placeholder ="mobile code" id="mobile-code"/>
      <input type = "submit" value="submit" id="button"/>
      <% if (error){%>
        <div>Error:<div>
        <div> <%= error %> <div>
      <% } %>
    </form>
  </body>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="./lib/cookies-js/dist/cookies.js"></script>
</html>
